# Do not commit ipynb checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Do not track data in the cassavaLeafDiseasePrediction folder
/cassavaLeafDiseasePrediction/data/*
/cassavaLeafDiseasePrediction/notebooks/baselineModel.pkl

# Do not track any models
*/models/*
*/mlcClassification.pkl
